/*--------------------------------------------------------------
# Customize

3. Slick.js carousel styles
4. Card styling
5. Results (#results)
6. Adjustments for mobile
--------------------------------------------------------------*/

.card-wrapper {
	display: flex;
	gap: 2rem;

	.card {
		width: calc(100%/3);
	}
}

/*--------------------------------------------------------------
  4. Card styling
  --------------------------------------------------------------*/

// Card styles
.card {

	&.card-selected {
		border-color: #8c1d40;
		border-width: 2px;
	}

	.read-more+svg {
		margin-left: .5rem;
	}
}

/*--------------------------------------------------------------
  5. Results (#results)
  --------------------------------------------------------------*/

dl.result-list {
	color: $uds-color-base-white;

	a {
		color: $uds-color-base-gold;
	}

	dt h4 {
		margin: 0;
	}
}
