/*--------------------------------------------------------------
# Customize Styles

2. Program Card
5. Program Output
--------------------------------------------------------------*/

// Styles for the deployed gravity form. Intended for a dark background.
#gform_1 {

	.gfield_label,
	.gfield_description,
	.gform-field-label {
		color: $uds-color-base-white;
	}
}


/*--------------------------------------------------------------
2. Program Card Block
--------------------------------------------------------------*/

// Card styles
.card {

	&.card-selected {
		border-color: #8c1d40;
		border-width: 2px;
	}

	.read-more+svg {
		margin-left: .5rem;
	}
}

/*--------------------------------------------------------------
5. Program Output Block
--------------------------------------------------------------*/

dl.result-list {
	color: $uds-color-base-white;

	a {
		color: $uds-color-base-gold;
	}

	dt h4 {
		margin: 0;
	}
}
