/*--------------------------------------------------------------
# Theme SASS
- Contains styles for blocks, templates and other assets.
--------------------------------------------------------------*/

@import "../src/unity-bootstrap-theme/_custom-asu-variables.scss";
@import 'media-queries';
@import 'carousel';

.deck {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 2rem;
	grid-row-gap: 2rem;
}